
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Header template</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

        <header  th:fragment="header">
            <ul class="nav navbar-default nav-pills">
                <li><a th:href="@{/}">Etusivu</a></li>
                <li><a th:href="@{/new}">Lisää uusi</a></li>
                <li><a th:href="@{/writer}">Lisää kirjoittaja</a></li>
                <li><a th:href="@{/categories}">Lisää kategoria</a></li>
            </ul>
        </header>
    </body>
</html>
