<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">>    
    <head>
        <meta charset="UTF-8" />
        <title>Add a new news item</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>


        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <div class="container">

            <div class="col-md-6 col-md-offset-2">

                <h1 class="text-center">Lisää uusi uutinen</h1>

                <form th:action="@{/new}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="topic">Otsikko</label>
                        <input type="text" class="form-control" name="topic"/>

                    </div>
                    <div class="form-group">
                        <label for="ingres">Ingressi</label>
                        <textarea class="form-control"  name="ingres"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="text">Leipäteksti</label>
                        <textarea class="form-control" name="text"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="categories[]">Valitse uutisen tyyppi</label>
                        <select class="form-control" name="categories[]" th:multiple = "true" th:path="new">
                            <option th:each="category : ${categories}" 
                                    th:value="${category.name}" 
                                    th:text="${category.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="writers[]">Kirjoittajat</label>

                        <select class="form-control" name="writers[]" th:multiple = "true" th:path="new">
                            <option th:each="writer : ${writers}" 
                                    th:value="${writer.name}" 
                                    th:text="${writer.name}"></option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="file">Kuva</label> 
                        <input type="file" name="file" id="file"/>
                    </div>
                    <button type="submit" class="btn btn-default">Tallenna</button>
                </form>

            </div>
        </div>

    </body>
</html>
